body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.degrade{
	background-image: linear-gradient(45deg, rgb(127,79,190), rgb(79,42,165));
	height:92vh;
	color: white;
	font-family:Comic Sans Ms;
	text-align:center;
}

#container {
	position:absolute;
	width:500px;
	height:250px;
	text-align: center;
	background-color: rgb(0,0,0.8);
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:15px;
	padding:10px;
}

.input-label {
	display: inline-block;
	margin-bottom: 20px;
}

.custom-input {
	padding: 5px;
	border-radius: 3px;
	width: 200px;
}

#result {
	margin-top: 20px;
	text-align: center;
	margin-left: 30%;
}

button {
	padding: 8px 16px;
	margin-top: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #4CAF50; /* Cor padrão do botão */
	color: #fff; /* Cor do texto do botão */
	transition: background-color 0.3s;
}

button:hover {
	background-color: #45a049; /* Cor do botão ao passar o mouse */
}

footer {
    background-color: rgb(0,0,0.8);
    color: #ffffff;
    padding: 20px;
    text-align: center;
	border-radius: 10px; 
    overflow: hidden;
	margin-top: 450px;	
}

a:visited {
    color: darkgrey;
}

.outer-container {
	width:500px;
	margin: 0 auto;
	text-align:center;
    background: rgb(31, 31, 31); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
	margin-left: 0px;
	margin: 0 auto;
	padding:5px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: green; /* Ou a cor desejada para o hover */
}




/*
h2 {
  color: #333;
}

.outer-container{
	background: rgb(31, 31, 31); 
    padding: 20px; 
	border-radius: 10px;  
    overflow: hidden; 
}

button {
	width: 150px;
    height: 30px;
	font-size: 15px;
	background-color:rgb(31, 31, 31);
	border:none;
	color:white;
	margin:3px;
}

button:hover {
  background-color:black;
  color: white;
}

	

.container{
  max-width: 500px;
  margin: 0 auto;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}



.conversorMoedas{
	position:absolute;
	background-color: rgb(0,0,0.8);
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:15px;
	padding:15px;
}

.result-container{
	margin-top: 10px;
	/*background-color: #f2f2f2;
	padding: 0px;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center !important;
}
*/